{% load i18n %}<!doctype html public "-//W3C//HTML 4.01 Transitional//EN">
<head>
  <title>{% block title %} {{pretty_app_name}} {% endblock %}</title>
  <meta http-equiv="refresh" content="60">
  <link rel=stylesheet href="static/style.css">
  {% if vars.is_mobile %}
    <meta name="viewport" content="user-scalable=no">
    <link rel=stylesheet href="static/mobile.css">
  {% endif %}
  <script>
    var is_member = {{ vars.member|yesno:"true,false" }};
    var is_mobile = {{ vars.is_mobile|yesno:"true,false" }};
  </script>





<!--
 <script src="http://code.jquery.com/jquery-1.4.2.min.js"></script>
    <script src="http://s.phono.com/releases/0.1/jquery.phono.js"></script>
-->
  {% block scripts %}{% endblock %}
</head>

<body>

    <h3 align=center>{{pretty_app_name}}</h3>
<!-- 
<input id="call" type="button" disabled="true" value="Loading..." />
<input type="button" class="btn digit" value="1"/>

    <span id="status"></span>

    <script>
    $(document).ready(function(){
      var phono = $.phono({apiKey: "5f1ed0c918ee8822f537ecd06a07ac07",
        onReady: function() {
          $("#call").attr("disabled", false).val("Call");
        }
      });

	$('.digit').live('click', function() {
		var thisCall = $(this).closest(".callHldr").attr("id");
		var theDigit = $(this).attr("value");
		calls[thisCall].digit(theDigit);
	});

      $("#call").click(function() {
        $("#call").attr("disabled", true).val("Busy");
        phono.phone.dial("857-239-0130", {
          onRing: function() {
            $("#status").html("Ringing");
          },
          onAnswer: function() {
            $("#status").html("Answered");
          },
          onHangup: function() {
            $("#call").attr("disabled", false).val("Call");
            $("#status").html("Hangup");
          }
        });
      });
    })
    </script>
-->

<h4>User</h4>
      <ul>

      {% if vars.user %}
        <li>{{ vars.user.email|escape }}</li>
        {% if vars.member %}
          <li>Password:  {{vars.passw}}</li>

        {% endif %}

      {% endif %}
</ul>




  {% block content %}{% endblock %}

<h4>Actions</h4>

<ul>

      <li>Call {{pretty_weather_app_name}} at {{pretty_weather_app_phone}}
      <li>Call {{pretty_tides_app_name}} at {{pretty_tides_app_phone}}
      <li>Call {{pretty_history_app_name}} at {{pretty_history_app_phone}}
      {% if vars.user %}
        {% if vars.member %}

          <li><a href="{{ vars.member_delete_url|escape }}">{% trans "Revoke authorization of" %} {{pretty_app_name}}{% trans " to access your Latitude data" %}</a> </li>


        {% endif %}


        <li><a href="{{ vars.logout_url|escape }}">{% trans "Sign out" %}</a> of your Google account</li>




      {% else %}

        <li><a href="{{ vars.login_url|escape }}">{% trans "Sign in" %}</a> to your Google account</li>

      {% endif %}
</ul>

  <div class="vshadow vs1"></div>
  <div class="vshadow vs2"></div>
  <div class="vshadow vs3"></div>
</body>
